In [58]:
import pandas as pd
import numpy as np

semi_df = pd.read_csv('semiyearly_chosen_columns.csv', parse_dates=['date'])
production_df = pd.read_csv('production.csv', parse_dates=['date'])

In [61]:
# create a subset that matches our requirements for the final df
production_df = production_df[production_df['date'] >= '2017-01-01']
production_df = production_df[production_df['district'] != 'Hagar' ]  # drop Hagar because it doesn't match any other district
                                                                      # according to the internet it's a city in Lower Juba(region), however all the districts in Lower Juba already appear in the production dataset
production_df = production_df[['date', 'district', 'Cowpea', 'Maize', 'Sorghum']]
# correct the names od the districts in production_df
production_df = production_df.replace({'district': {'Baydhaba': 'Baidoa', 'Ceel Bur': 'Ceel Buur', 'El berde': 'Ceel Barde', 'Garbaharey/Burdhuubo': 'Garbahaarey', 'Wanla weyn': 'Wanla Weyn'}})
production_df['date'] = production_df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
production_df

           date     district  Cowpea   Maize  Sorghum
1978 2017-01-01  Adan Yabaal     NaN     NaN      NaN
1979 2017-01-01      Afgooye   575.0    3.74     1.72
1980 2017-01-01      Afmadow     3.0   39.00      NaN
1981 2017-01-01   Baardheere    22.0  510.00     1.20
1982 2017-01-01    Badhaadhe     NaN   12.00      NaN
...         ...          ...     ...     ...      ...
2433 2021-07-01    Tayeeglow    12.0   14.00   220.00
2434 2021-07-01       Waajid     NaN     NaN    10.00
2435 2021-07-01   Wanla Weyn     NaN    3.54     5.00
2436 2021-07-01  Xarardheere     NaN     NaN      NaN
2437 2021-07-01        Xudur    20.0   16.00   308.00

[450 rows x 5 columns]

In [51]:
# calculate the number of missings for crop
# missings would mean at least one of the 3 crop types is missing for a certain observation

# how many observations in the production dataset are missing at least one crop type
len(production_df[(production_df['Cowpea'].isna()) | (production_df['Maize'].isna()) | (production_df['Sorghum'].isna())])  # 282
# how many observations in the production dataset
len(production_df)  # 450
# observations in the semiyearly_chosen_columns dataset
len(semi)  # 656
# number of production missings in semi would be:
len(semi) - len(production_df) + len(production_df[(production_df['Cowpea'].isna()) | (production_df['Maize'].isna()) | (production_df['Sorghum'].isna())])

488

In [74]:
# Merge non-imputed production data with semiyearly_chosen_columns data
semi_merged = semi.merge(production_df, on=['date', 'district'], how='left')
semi_merged['crop'] = (semi_merged.Maize + semi_merged.Sorghum + semi_merged.Cowpea) / 3
semi_merged.to_csv('semiyearly_chosen_columns_with_crop.csv')